{
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": "current"
        }
      }
    ]
  ],
  "plugins": [
    "transform-class-properties",
    "transform-object-rest-spread",
    "transform-es2015-arrow-functions"
  ],
  "env": {
    "test": {
      "presets": ["env", "react"],
      "plugins": [
        "transform-class-properties",
        "transform-object-rest-spread",
        "transform-es2015-arrow-functions"
      ]
    }
  }
}
